<% if @venue_names.count < 2 %>
	<div class="col-md-6 col-md-offset-3">
		<div class="well well-lg">
			<div class="text-center"> 
				<h2 class="result"><a href="<%= @url %>" target="_blank"><%= @name %></a></h2>
			</div>
			<br />
			<form role="form" action="/activity" method="get">
				<div class="form-group">
					<input type="hidden" name="venue_name" value="<%= @name %>">
					<input type="hidden" name="venue_loc" value="<%= @location %>">
					<input type="hidden" name="venue_url" value="<%= @url %>">
					<input type="submit" name="next" class="btn btn-primary btn-lg btn-block" value="Another!">
				</div>
			</form>

			<form role="form" action="/activity" method="get">
				<div class="form-group">
					<input type="submit" name="next" class="btn btn-danger btn-lg btn-block" value="PASS!">
				</div>
			</form>

			<form role="form" action="/map" method="get">
				<div class="form-group">
					<input type="hidden" name="venue_name" class="button" value="<%= @name %>">
					<input type="hidden" name="venue_loc" value="<%= @location %>">
					<input type="hidden" name="venue_url" value="<%= @url %>">
					<input type="submit" name="next" class="btn btn-primary btn-lg btn-block" value="Route me!">
				</div>
			</form>
		</div>
	</div>
<% else %>
	<div class="col-md-6">
		<div class="well well-lg">
			<ul class="selected-venues">
				<h3>Activity List</h3>
				<% @venue_names.each_index do |i| %>
					<li class="result"><h4><a href="<%= @venue_urls[i+1] %>" target="_blank"><%= @venue_names[i+1] %></a></h4></li>
				<% end %> 
			</ul>
		</div>
	</div>
	<div class="col-md-6">
		<div class="well well-lg">
			<div class="text-center"> 
				<h2 class="result"><a href="<%= @url %>" target="_blank"><%= @name %></a></h2>
			</div>
			<br />
			<form role="form" action="/activity" method="get">
				<div class="form-group">
					<input type="hidden" name="venue_name" value="<%= @name %>">
					<input type="hidden" name="venue_loc" value="<%= @location %>">
					<input type="hidden" name="venue_url" value="<%= @url %>">
					<input type="submit" name="next" class="btn btn-primary btn-lg btn-block" value="Another!">
				</div>
			</form>

			<form role="form" action="/activity" method="get">
				<div class="form-group">
					<input type="submit" name="next" class="btn btn-danger btn-lg btn-block" value="PASS!">
				</div>
			</form>

			<form role="form" action="/map" method="get">
				<div class="form-group">
					<input type="hidden" name="venue_name" class="button" value="<%= @name %>">
					<input type="hidden" name="venue_loc" value="<%= @location %>">
					<input type="hidden" name="venue_url" value="<%= @url %>">
					<input type="submit" name="next" class="btn btn-primary btn-lg btn-block" value="Route me!">
				</div>
			</form>
		</div>
	</div>
<% end %>
