<div class="col-md-6 col-md-offset-3">
	<div class="well well-lg">
		<div class="text-center"> 
			<h2 class="result"><a href="<%= @url %>" target="_blank"><%= @name %></a></h2>
		</div>
		<br />
		<form role="form" action="/activity" method="get">
			<div class="form-group">
				<input type="hidden" name="venue_name" value="<%= @name %>">
				<input type="hidden" name="venue_loc" value="<%= @location %>">
				<input type="hidden" name="venue_url" value="<%= @url %>">
				<input type="submit" name="next" class="btn btn-primary btn-lg btn-block" value="Another!">
			</div>
		</form>

		<form role="form" action="/activity" method="get">
			<div class="form-group">
				<input type="submit" name="next" class="btn btn-danger btn-lg btn-block" value="PASS!">
			</div>
		</form>

		<form role="form" action="/map" method="get">
			<div class="form-group">
				<input type="hidden" name="venue_name" class="button" value="<%= @name %>">
				<input type="hidden" name="venue_loc" value="<%= @location %>">
				<input type="hidden" name="venue_url" value="<%= @url %>">
				<input type="submit" name="next" class="btn btn-primary btn-lg btn-block" value="Route me!">
			</div>
		</form>
	</div>
</div>