<div class="">
  	<div class="">
		<div class="destination"> 
			<%= @name %>
		</div>


		<div>
			<form class="next-button" action="/activity" method="get">
			    <input type="hidden" name="venue_name" value="<%= @name %>">
			    <input type="hidden" name="venue_loc" value="<%= @location %>">
			    <input type="submit" name="next" class="button" value="Another!">
			</form>
			<form class="next-button" action="/activity" method="get">
			    <input type="submit" name="next" class="button" value="PASS!">
			</form>

			<form class="next-button" action="/map" method="get">
				<input type="hidden" name="venue_name" class="button" value="<%= @name %>">
				<input type="hidden" name="venue_loc" value="<%= @location %>">
			    <input type="submit" name="next" value="Route me!">
			</form>
		</div>
	</div>
</div>